.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.interface {
  width: 35svmin;
  aspect-ratio: 1;
  position: relative;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

.interface .state {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interface .dot {
  position: absolute;
  width: 10%;
  height: 10%;
  background-color: white;
  border-radius: 100svmin;
  opacity: 1;
}

.interface .dot-1 {
  view-transition-name: dot-1;
}

.interface .dot-2 {
  view-transition-name: dot-2;
}

.interface .dot-3 {
  view-transition-name: dot-3;
}

.interface .dot-4 {
  view-transition-name: dot-4;
}

.interface .dot-5 {
  view-transition-name: dot-5;
}

.idle .dot-1 {
  animation: idle-dot-pulse 5s ease-in-out infinite;
}

.idle .dot-2,
.idle .dot-3,
.idle .dot-4,
.idle .dot-5 {
  opacity: 0;
  width: 10%;
  height: 10%;
}

@keyframes idle-dot-pulse {
  0% {
    transform: scale(2);
    opacity: 1;
  }

  50% {
    transform: scale(2.5);
    opacity: 0.8;
  }

  100% {
    transform: scale(2);
    opacity: 1;
  }
}

.listening .dot-1 {
  animation: listening-dot 5s linear infinite;
  animation-delay: 0;
}

.listening .dot-2 {
  animation: listening-dot 5s linear infinite;
  animation-delay: -1s;
}

.listening .dot-3 {
  animation: listening-dot 5s linear infinite;
  animation-delay: -2s;
}

.listening .dot-4 {
  animation: listening-dot 5s linear infinite;
  animation-delay: -3s;
}

.listening .dot-5 {
  animation: listening-dot 5s linear infinite;
  animation-delay: -4s;
}

@keyframes listening-dot {
  0% {
    transform: rotate(0deg) translate(300%);
  }

  100% {
    transform: rotate(360deg) translate(300%);
  }
}

.thinking .dot-3 {
  animation: thinking-dot-1 2s ease-in-out infinite;
  animation-delay: 0s;
  animation-delay: -1s;
}

.thinking .dot-2 {
  animation: thinking-dot-2 2s ease-in-out infinite;
  animation-delay: 0s;
  animation-delay: -1.25s;
}

.thinking .dot-1 {
  animation: thinking-dot-3 2s ease-in-out infinite;
  animation-delay: 0s;
}

.thinking .dot-4 {
  animation: thinking-dot-4 2s ease-in-out infinite;
  animation-delay: 0s;
  animation-delay: -1.25s;
}

.thinking .dot-5 {
  animation: thinking-dot-5 2s ease-in-out infinite;
  animation-delay: 0s;
  animation-delay: -1s;
}

@keyframes thinking-dot-1 {
  0% {
    transform: translateX(-400%) translateY(100%);
  }

  50% {
    transform: translateX(-400%) translateY(-100%);
  }

  100% {
    transform: translateX(-400%) translateY(100%);
  }
}

@keyframes thinking-dot-2 {
  0% {
    transform: translateX(-200%) translateY(50%);
  }

  50% {
    transform: translateX(-200%) translateY(-50%);
  }

  100% {
    transform: translateX(-200%) translateY(50%);
  }
}

@keyframes thinking-dot-3 {
  0% {
    transform: translateY(25%);
  }

  50% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(25%);
  }
}

@keyframes thinking-dot-4 {
  0% {
    transform: translateX(200%) translateY(-50%);
  }

  50% {
    transform: translateX(200%) translateY(50%);
  }

  100% {
    transform: translateX(200%) translateY(-50%);
  }
}

@keyframes thinking-dot-5 {
  0% {
    transform: translateX(400%) translateY(-100%);
  }

  50% {
    transform: translateX(400%) translateY(100%);
  }

  100% {
    transform: translateX(400%) translateY(-100%);
  }
}

.speaking .dot {
  width: 10%;
}

.speaking .dot-1 {
  transform: translate(0%);
  animation: speaking-dot-3 1s ease-in-out infinite;
  animation-delay: 0s;
  animation-delay: -0.35s;
}

.speaking .dot-2 {
  transform: translate(-200%);
  animation: speaking-dot-2 1s ease-in-out infinite;
  animation-delay: 0s;
  animation-delay: -1.25s;
}

.speaking .dot-3 {
  transform: translate(-400%);
  animation: speaking-dot-1 1s ease-in-out infinite;
  animation-delay: 0s;
}

.speaking .dot-4 {
  transform: translate(200%);
  animation: speaking-dot-2 1s ease-in-out infinite;
  animation-delay: 0s;
  animation-delay: -0.45s;
}

.speaking .dot-5 {
  transform: translate(400%);
  animation: speaking-dot-1 1s ease-in-out infinite;
  animation-delay: 0s;
  animation-delay: 0.5s;
}

@keyframes speaking-dot-1 {
  0% {
    height: 15%;
    opacity: 0.85;
  }

  25% {
    height: 25%;
    opacity: 1;
  }

  50% {
    height: 10%;
    opacity: 0.6;
  }

  75% {
    height: 20%;
    opacity: 0.9;
  }

  100% {
    height: 15%;
    opacity: 0.85;
  }
}

@keyframes speaking-dot-2 {
  0% {
    height: 25%;
    opacity: 0.85;
  }

  25% {
    height: 35%;
    opacity: 1;
  }

  50% {
    height: 20%;
    opacity: 0.6;
  }

  75% {
    height: 30%;
    opacity: 0.9;
  }

  100% {
    height: 25%;
    opacity: 0.85;
  }
}

@keyframes speaking-dot-3 {
  0% {
    height: 40%;
    opacity: 0.85;
  }

  25% {
    height: 65%;
    opacity: 1;
  }

  50% {
    height: 30%;
    opacity: 0.6;
  }

  75% {
    height: 50%;
    opacity: 0.9;
  }

  100% {
    height: 40%;
    opacity: 0.85;
  }
}
